{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "tabWidth": 2,
  "printWidth": 120,
  "useTabs": false,
  "bracketSameLine": true
}
