---
import { SEO } from "astro-seo";

import Container from "@components/container.astro";
import Footer from "@components/footer.astro";
import { Social } from "@components/Social/Social";
export interface Props {
  title: string;
}

// TODO: add screenshot of completed site
const resolvedImageWithDomain = new URL("/opengraph.jpg", Astro.url).toString();
const { title } = Astro.props;

import "../styles/index.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- TODO: add favicon -->
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://use.typekit.net" crossorigin />
    <link rel="preconnect" href="https://p.typekit.net" crossorigin />
    <link rel="preload" href="https://use.typekit.net/blg3xki.css" as="style" />
    <link rel="stylesheet" href="https://use.typekit.net/blg3xki.css" />
    <SEO
      title={`${title}${title && " | "}Albert Yang`}
      description="Albert Yang is a Contentful certified software developer"
      openGraph={{
        basic: {
          type: "website",
          title: `Albert Yang | Software Developer`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Albert Yang Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Container className="relative">
      <Social client:load />
    </Container>
    <slot />
    <Footer />
  </body>
</html>
